.add-post{
  box-shadow: 1px 1px 9px 7px #36181833;
}

.app-body {
  max-width: 900px;

}
.posts{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 9px 7px #36181833;

  padding: .5rem;
}